<div class="jumbotron">
  <h1 class="title">100K Offer</h1>
  <p class="slogan">100K Offer is the No.1 job hunting website.
    <br>
      We want you to get satisfactory job.
    <br>
      You can be a winner.
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">Apply a job now</a></p>
</div>
