<div class="jumbotron">
  <h1 class="title">100K Offer</h1>
  <p class="slogan">100K Offer is the No.1 job hunting website.
    <br>
      We want you to get satisfactory job.
    <br>
      You can be a winner.
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">Apply a job now</a></p>
</div>

<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://media-cdn.tripadvisor.com/media/photo-s/09/47/0f/2f/boston-market-thank-you.jpg" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h3>Singapore SOHO</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://media-cdn.tripadvisor.com/media/photo-s/09/47/0f/2f/boston-market-thank-you.jpg" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h3>info@100koffer.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://media-cdn.tripadvisor.com/media/photo-s/09/47/0f/2f/boston-market-thank-you.jpg" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3>65-66666666</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
